<a href="https://colab.research.google.com/github/Chikuji/PythonPcc/blob/master/Fun%C3%A7%C3%B5esBasicas_08_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Função hello world

def greet():
    return "hello world!"

greet()

'hello world!'

In [ ]:
#Função retorna a quarter of month
def quarter(month):
  if month/12 <=0.25:
    return 1
  elif month/12 <=0.5:
    return 2
  elif month/12<=0.75:
    return 3
  else:
    return 4

In [ ]:
quarter(7)

3

In [ ]:
def quarter_of(m):
  return (m+2)//3

quarter_of(7)

3

In [ ]:
#Função retorna numeros multiplos
def multiplos(inicio,limite):
  return list(range(inicio,limite+1,inicio))
multiplos(5,25)

[5, 10, 15, 20, 25]

In [ ]:
#Função retorna o calculo de uma prova
def exam(arr1,arr2):
  score=0
  for i in range(4):
    if arr1[i]==arr2[i]:
      score=score+4
    elif arr2[i]=="":
      score=score+0
    else:
      score=score-1
  if score<0:
    score=0
  return score

exam(["a","b","c","d"],["d","b","","d"])

7

In [ ]:
def check_exam(arr1,arr2):
  return max(0,sum(4 if a==b else -1 for a,b in zip(arr1,arr2)if b))
check_exam(["a","b","c","d"],["d","b","","d"])

7

In [ ]:
#Função retorna true se n for divisivel por x e y

def divisivel(n,x,y):
  return bool(n%x==0 and n%y==0)

divisivel(3,1,3)

True

In [ ]:
divisivel(12,3,4)

True

In [ ]:
#Função que retorna a primeira letra upper

def upWord(word):
  return word.capitalize()

upWord("FeLiPE")

'Felipe'

In [ ]:
#Função recebe km/h e retorna cm/s

def cm_speed(s):
  return round(((s/3.6*100)-0.5),0)

cm_speed(1.08)

30.0

In [ ]:
def cm_speed(s):
  return s // 0.036
cm_speed(2.5894)

71.0

In [ ]:
cm_speed = lambda s: (s//0.036)

cm_speed(1.09)

30.0

In [ ]:
#Função que repete uma string

def repeat(repeat,string):
  return string * repeat

repeat(4,"hello ")

'hello hello hello hello '

In [ ]:
#Função retorna float ou None

def parse_float(num):
  try:
    return float(num)
  except:
    return "None"
parse_float("fe")

'None'

In [ ]:
#Função que cumprimenta as pessoas que chegam a Enterprise
def enterprise(name):
  return "Hello, "+ name

enterprise("Mr. Spock")

'Hello, Mr. Spock'

In [ ]:
names = ['Mr. Spock','Captain Kirk','Liutenant Uhura','Dr. McCoy','Mr. Scott']

for i in range(len(names)):
  print(enterprise(names[i]))

Hello, Mr. Spock
Hello, Captain Kirk
Hello, Liutenant Uhura
Hello, Dr. McCoy
Hello, Mr. Scott

In [ ]:
say_hello =  lambda names:"Olá, {}".format(names)

In [ ]:
for i in range(len(names)):
  print(say_hello(names[i]))

Olá, Mr. Spock
Olá, Captain Kirk
Olá, Liutenant Uhura
Olá, Dr. McCoy
Olá, Mr. Scott

In [ ]:
# Função transforma Farenheit to Celsius

def weather_info (temp):
    c = convert(temp)
    if (c > 0):
        return (str(c) +" is above freezing temperature")
    else:
        return (str(c) + " is freezing temperature")
    
def convert(temperatur):
  celsius = (temperatur - 32) * (5/9)
  return celsius

In [ ]:
weather_info(2)

'-16.666666666666668 is freezing temperature'

In [ ]:
def weather_i(t):
  c = (t - 32) * (5.0 /9)
  return str(c) + " is freezing temperature" if c <= 0 else str(c) + " is above freezing temperature"

In [ ]:
weather_i(50)

'10.0 is above freezing temperature'

In [ ]:
# Função retorna área se for quadrado 
# ou perímetro caso rettângulo
def area_or_perimeter(l , w):
    if l==w:
        return l*l
    else:
        return (2*l) + (2*w)

In [ ]:
area_or_perimeter(4, 4)

16

In [ ]:
def area_ou_perimeter(l, w):
    return l * w if l == w else (l + w) * 2

In [ ]:
area_ou_perimeter(4, 4)

16

In [ ]:
area_perimeter = lambda a, b : a * b if a == b else 2 * (a + b)

In [ ]:
area_perimeter(4, 4)

16

In [ ]:
# Variáveis

la_liga_goals = 43
champions_league_goals = 10
copa_del_rey_goals = 5

total_goals = la_liga_goals + champions_league_goals + copa_del_rey_goals
total_goals

58

In [ ]:
# Função recebe horas e retorna a menor quantidade
# de litros de água
def litres(time):
    return (time*0.5)//1

In [ ]:
litres(2)

1.0

In [ ]:
litros = lambda time : (time*0.5)//1

In [ ]:
litros(3)

1

In [ ]:
litros = lambda time : time//2

In [ ]:
# Função retorna Fail!, Publish! ou A smell a series!

def well(x):
    if x.count('good') <1: return 'Fail!'
    elif x.count('good')<2: return 'Publish!'
    else: return'I smell a series!'
    return

In [ ]:
well(['bad', 'bad', 'bad'])

'Fail'

In [ ]:
well(['good', 'bad', 'bad', 'bad', 'bad'])

'Publish!'

In [ ]:
well(['good', 'bad', 'bad', 'bad', 'bad', 'good', 'bad', 'bad', 'good'])

'I smell a series!'

In [ ]:
def well(x):
    c = x.count('good')
    return 'I smell a series!' if c > 2 else 'Publish!' if c else 'Fail!'

In [ ]:
#Função recebe um numero e retorna uma lista

def monkey_count(n):
   return list((range(1,n+1)))

In [ ]:
monkey_count(5)

[1, 2, 3, 4, 5]

In [ ]:
# Função que recebe uma lista e retorna a soma do quadrado de cada numero
def square_sum(numbers):
    sum=0
    for i in range(len(numbers)):
        sum =sum+(numbers[i])**2
    return sum

In [ ]:
square_sum([0, 3, 4, 5])

50

In [ ]:
def square_s(numbers):
    return sum(x ** 2 for x in numbers)

square_s([0, 3, 4, 5])

50

In [ ]:
# Função que conta q quantidade de uma determinada letra
def str_count(strng, letter):
    return strng.count(letter)
    
str_count('hello', 'l')

2

In [ ]:
# Função recebe uma lista com os resultados dos jogos 2:0
# e retorna o total de pontos
def points(games):
    count = 0
    for score in games:
        res = score.split(':')
        if res[0]>res[1]:
            count += 3
        elif res[0] == res[1]:
            count += 1
    return count

In [ ]:
points(['1:0','2:0','3:0','4:0','2:1','3:1','4:1','3:2','4:2','4:3'])

30

In [ ]:
def pontos(a):
    return sum((x >= y) + 2 * (x > y) for x, y in (s.split(":") for s in a))

In [ ]:
pontos(['0:1','2:2','5:3','0:4','1:2','1:3','1:4','2:3','2:4','3:4'])

4

In [ ]:
# Função recebe um coeficiente e um expoente e retorna uma string

def derive(co, ex): 
    mult= co*ex
    dif=ex-1
    return str(mult)+"x^"+str(dif)
derive(7,8)

'56x^7'

In [ ]:
def derive(coefficient, exponent): 
    return f'{coefficient * exponent}x^{exponent - 1}'
derive(7,9)

'63x^8'

In [ ]:
# Função que recebe um idioma e retorna bem-vindo no idioma
def greet(language):
    return {
        'czech': 'Vitejte',
        'danish': 'Velkomst',
        'dutch': 'Welkom',
        'english': 'Welcome',
        'estonian': 'Tere tulemast',
        'finnish': 'Tervetuloa',
        'flemish': 'Welgekomen',
        'french': 'Bienvenue',
        'german': 'Willkommen',
        'irish': 'Failte',
        'italian': 'Benvenuto',
        'latvian': 'Gaidits',
        'lithuanian': 'Laukiamas',
        'polish': 'Witamy',
        'spanish': 'Bienvenido',
        'swedish': 'Valkommen',
        'welsh': 'Croeso'
    }.get(language, 'Welcome')

In [ ]:
greet('english')

'Welcome'

In [ ]:
greet('flemish')

'Welgekomen'

In [ ]:
# Função recebe a velocidade em cm/s 
# e retorna o tempo que uma petala cai em 400cm

def sakura_fall(v):
    return 400/v if v>0 else 0
sakura_fall(10)

40.0

In [ ]:
# Função que retorna uma string

def greet(name):
    return f'Hello, {name} how are you doing today?'

greet('Ryan')

'Hello, Ryan how are you doing today?'

In [ ]:
# Função recebe uma lista e retorna outra lista dos index pares

def remove_every_other(my_list):
    n_list=[]
    for i in range(len(my_list)):
        if i%2 == 0:
            print("2°",i)
            n_list.append(my_list[i])
    return n_list

In [ ]:
remove_every_other( [True, True, False, False, False, True, True])

2° 0
2° 2
2° 4
2° 6

[True, False, False, True]

In [ ]:
def remove_every_other(my_list):
    return my_list[::2]

remove_every_other([2,3,4,5,6,3,4])

[2, 4, 6, 4]

In [ ]:
# Função verifica se há alguma letra maiúscula

def is_uppercase(inp):
    return inp.isupper()

In [ ]:
fruit = {1:'kiwi',2:'pear',3:'kiwi',4:'banana',5:'melon',6:'banana',7:'melon',
         8:'pineapple',9:'apple',10:'pineapple',11:'cucumber',12:'pineapple',
         13:'cucumber',14:'orange',15:'grape',16:'orange',17:'grape',18:'apple',
         19:'grape',20:'cherry',21:'pear',22:'cherry',23:'pear',24:'kiwi',
         25:'banana',26:'kiwi',27:'apple',28:'melon',29:'banana',30:'melon',
         31:'pineapple',32:'melon',33:'pineapple',34:'cucumber',35:'orange',
         36:'apple',37:'orange',38:'grape',39:'orange',40:'grape',41:'cherry',
         42:'pear',43:'cherry',44:'pear',45:'apple',46:'pear',47:'kiwi',
         48:'banana',49:'kiwi',50:'banana',51:'melon',52:'pineapple',53:'melon',
         54:'apple',55:'cucumber',56:'pineapple',57:'cucumber',58:'orange',
         59:'cucumber',60:'orange',61:'grape',62:'cherry',63:'apple',
         64:'cherry',65:'pear',66:'cherry',67:'pear',68:'kiwi',69:'pear',
         70:'kiwi', 71:'banana',72:'apple',73:'banana',74:'melon',
         75:'pineapple',76:'melon',77:'pineapple',78:'cucumber',79:'pineapple',
         80:'cucumber',81:'apple',82:'grape',83:'orange',84:'grape',85:'cherry',
         86:'grape',87:'cherry',88:'pear',89:'cherry',90:'apple',91:'kiwi',
         92:'banana',93:'kiwi',94:'banana',95:'melon',96:'banana',97:'melon',
         98:'pineapple',99:'apple',100:'pineapple'}


def subtract_sum(n):
  n -= (sum([int(i) for i in str(n)]))
  while not n in fruit:
    n -= (sum([int(i) for i in str(n)]))
  return fruit[n]

In [ ]:
subtract_sum(325)

'apple'

In [ ]:
# Função retorna o número negativo

def make_negative( number ):
    return number if number < 0 else -number # number*-1 
make_negative(88)

-88

In [ ]:
def make_negative( number ):
    return -abs(number)

In [ ]:
# Função retira os zeros do final

def no_boring_zeros(n):
    if n!=0:
        while n%10==0:
            n = n/10
    else:
        n==0
    return n

In [ ]:
no_boring_zeros(960000)

96.0

In [ ]:
def no_boring_zeros(n):
    try:
        return int(str(n).rstrip('0'))
    except ValueError:
        return 0

no_boring_zeros(96045000)

96045

In [ ]:
# Função executa a média e retorna uma nota

def get_grade(s1, s2, s3):
    score =(s1+s2+s3)/3
    
    if 90 <= score <= 100 :
        return'A'
    if 80 <= score < 90:
        return'B'
    if 70 <= score < 80:
        return'C'
    if 60 <= score < 70:
        return'D'
    if 0 <= score < 60:
        return 'F'
get_grade(95, 90, 93)

'A'

In [ ]:
def get_grade(s1, s2, s3):
    return {6:'D', 7:'C', 8:'B', 9:'A', 10:'A'}.get((s1 + s2 + s3) / 30, 'F')

In [ ]:
def get_grade(s1, s2, s3):
    mean = sum([s1,s2,s3])/3
    if mean>=90: return 'A'
    if mean>=80: return 'B'
    if mean>=70: return 'C'
    if mean>=60: return 'D'
    return 'F'

In [ ]:
def positive_sum(arr):
    soma=[]
    for i in arr:
        if i>0:
            soma.append(i)   
    return sum(soma)

In [ ]:
positive_sum([1,2,3,4,5])

15

In [ ]:
def positive_sum(arr):
  return sum(x for x in arr if x>0)
positive_sum([1,2,3,4,5])

15

In [ ]:
def positive_sum(arr):
    return sum(filter(lambda x: x > 0,arr))
positive_sum([1,2,3,4,5])

15

In [ ]:
# Função valida se quilometragem <= consumo * qtd gasolina

def zero_fuel(dist,mpg,fuel):
    return bool(dist<=mpg*fuel)
zero_fuel(50, 25, 2)

True

In [ ]:
# Função retorna o numero oposto

def opposite(number):
    return -number
opposite(2)

-2

In [ ]:
# Função recebe um número e retorna um array invertido

def digitize(n):
    lst = [int(i) for i in str(n)]
    lst.reverse()    
    return lst
digitize(35231)

[1, 3, 2, 5, 3]

In [ ]:
def digitize(n):
    return map(int, str(n)[::-1])

In [ ]:
def digitize(n):
    return [int(x) for x in str(n)[::-1]]

In [3]:
# Função retorna a soma dos numeros int

def sum_mix(arr):
  s=0
  for x in arr:
    if type(x)==int:
      print(x)
      s=s+x
  return print('Total:',s)
sum_mix([9,8,7,'3','9',8])

9
8
7
8
Total: 32

In [8]:
# Função recebe arr com int e str, convert todos p int e soma

def sum_int(arr):
  s=0
  for x in arr:
    s=int(x)+s
  return s
sum_int([9, 3, '7', '3'])

22

In [10]:
def positive_sum(arr):
  return sum(int(x) for x in arr)
positive_sum([9, 3, '7', '3'])

22

In [11]:
# Função retorna o inverso de uma string

def solution(string):
  return string[::-1]

solution("FelipeKenjiChikuji")

'ijukihCijneKepileF'

In [12]:
solution = lambda s: s[::-1]
solution("FelipeKenjiChikuji")

'ijukihCijneKepileF'

In [86]:
# Função 

def triple_trouble(one, two, three):
    x=[]
    for a in range(len(one)):
      print(a,len(one))

      x.append(one[a]+two[a]+three[a])

    return "".join(x)

triple_trouble("bm","aa","tn")

0 2
1 2

'batman'

In [ ]:
def triple_trouble(one, two, three):
    return ''.join(''.join(a) for a in zip(one, two, three))

In [ ]:
def triple_trouble(one, two, three):
    ans = ''
    for i in range(len(one)):
        ans+=one[i]
        ans+=two[i]
        ans+=three[i]
    return ans